/* Import the liferay theme. */
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../liferay/liferay.scss";

/* This contains all of your theme. */
/* If somebody wants to extend the theme she will include this mixin. */
@mixin ${theme} {
  /* Include all the styles from the liferay theme */
  @include liferay;

  /* Insert your theme rules here */
}
