/* Import the valo theme. */
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../valo/valo.scss";

/* This contains all of your theme. */
/* If somebody wants to extend the theme she will include this mixin. */
@mixin ${theme} {
  /* Include all the styles from the valo theme */
  @include valo;

  /* Insert your theme rules here */
}
